.card-image-row{
    flex-direction: flex;
    justify-content: end;
}

.card-icons-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-img{
    height: 350px;
    width: 650px;
    margin-left: 250px;
}


.card-icons-energy{
    display: flex;
    flex-direction: row;
    background-color: gray;
    border-radius: 5px !important;
    margin-left: 25px;
    
}
.card-icons-shedding{
    display: flex;
    flex-direction: row;
    background-color: gray;
    border-radius: 5px !important;
    margin-left: 130px;
    padding: 5px;
    
}